<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Video processing done</h1>

    <p>Click to view processed video: <a href="<%= video %>">View</a></p>
    <video src="<%= video %>" controls width="800">
    </video>
</body>

</html>